<h1> Olá {{ name }} </h1>
<h2>Procedimento para recuperação da senha</h2>

<a href="{{ url }}">Confirme seu email</a>

<p>
  Se não foi você quem solicitou esse email, pode ignorar esses passos.
</p>
