<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Ubuntu:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Confirmar email</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background: #ececec;
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Rubik", sans-serif;
        color: #303030;
        font-size: 17px;
      }
      .content {
        width: 90%;
        max-width: 500px;
        padding: 20px;
        height: 90%;
        background: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
      }
      .text-welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 20px;
        color: #303030;
        border: 2px dashed #ececec;
        border-radius: 8px;
      }
      .text-welcome p {
        text-align: center;
      }
      #title {
        font-weight: bold;
        font-family: "Ubuntu", sans-serif;
        color: rgb(248, 203, 0);
      }
      span {
        color: rgb(17, 193, 216);
      }
      .code-box {
        background-color: #ececec;
        color: #3d3d3d;
        font-weight: bold;
        font-family: "Ubuntu", sans-serif;
        font-size: 2rem;
        width: 100%;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        margin-bottom: 50px;
      }
      footer {
        bottom: 0;
        background: #3d3d3d;
        width: 100%;
        position: absolute;
        padding: 10px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        color: #fff;
      }
      header {
        background: rgb(17, 193, 216);
        position: absolute;
        top: 0;
        color: #fff;
        width: 100%;
        padding: 15px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      strong {
        font-size: 20px;
        font-family: "Ubuntu", sans-serif;
      }
      h1 {
        margin-top: 70px;
        color: #3d3d3d;
      }
      section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;
      }
      section p {
        margin-bottom: 8px;
      }
    </style>
  </head>

  <body>
    <div class="content">
      <header>
        <img
          src="https://i.imgur.com/IJGz4g0.png"
          alt="study-neo"
          height="50"
        />
      </header>
      <h1>Seja Bem-Vindo(a)!</h1>
      <div class="text-welcome">
        <span class="material-icons">
          verified
        </span>
        <p>
          {{name}}, sua inscrição na plataforma
          <span id="title">Study<span>Neo</span></span>
          foi concluída com sucesso!
        </p>
      </div>
      <section>
        <p>Código de ativação:</p>
        <div class="code-box">
          {{key}}
        </div>
      </section>

      <footer>
        © Copyright StudyNeo 2020
      </footer>
    </div>
  </body>
</html>
